body{
    background-color: #c3c3c3;
    max-width: 1000px;
    margin:0 auto;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
p:first-letter{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration:underline;
}
.key{
    margin-right: 5px;
    color:green;
    font-weight: bold;

}
.mood{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.mood figure{
    border :2px solid white;
}
.mood figcaption
{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 15px;
}
.mood img{
    width: 200px;
    height: 200px;  
}
.checker img{
    width: 100px;
    height: 50px;  
} 
